*								{ margin: 0; padding: 0; }
body							{ font: 12px "Lucida Grande", Sans-Serif; background: #ccc; }
#page-wrap						{ width: 500px; margin: 50px auto; padding: 20px; background: white; }

h1, h2, h3						{ font: 28px Georgia, Serif; border-bottom: 1px dotted #ccc;
								  margin: 0 0 10px 0; }
.clear							{ clear: both; }
input[type="text"], textarea	{ padding: 3px; border: 1px solid #666; width: 350px;
								  margin: 0 0 15px 0; }
input[type="text"]				{ font: 28px Georgia, Serif; }
textarea						{ height: 100px; font: 12px "Lucida Grande", Sans-Serif; }
label							{ background: #666; color: white; padding: 2px 6px; }

.post							{ margin: 0 0 20px 0; }